In [1]:
print("hello")

hello

In [7]:
from Restaurant.constants import *

file_path = "D:\Restaurant_Rating_Prediction\config\config.yaml"

import yaml
with open(file_path,"r") as yaml_file:
    file = yaml.safe_load(yaml_file)
print(file['training_pipeline_config'])

{'pipeline_name': 'Restaurant', 'artifact_dir': 'artifact'}

In [14]:
from zipfile import ZipFile
with ZipFile(r'D:\Restaurant_Rating_Prediction\Restaurant\artifact\data_ingestion\2022-06-27-11-06-04\zip_data\archive.zip','r') as zip:
    zip.extractall()

BadZipFile: File is not a zip file

In [16]:
zipFile = r'D:\Restaurant_Rating_Prediction\Restaurant\artifact\data_ingestion\2022-12-26-18-12-15\zip_data\archive.zip'

In [18]:
def fixBadZipfile(zipFile):  
 f = open(zipFile, 'r+b')  
 data = f.read()  
 pos = data.find('\x50\x4b\x05\x06') # End of central directory signature  
 if (pos > 0):  
     self._log("Trancating file at location " + str(pos + 22)+ ".")  
     f.seek(pos + 22)   # size of 'ZIP end of central directory record' 
     f.truncate()  
     f.close()  
 else:  
      raise Exception ("file is trancuted")

In [21]:
#importing the requests module
import requests
print('Downloading started')
url = 'https://www.kaggle.com/datasets/himanshupoddar/zomato-bangalore-restaurants/download?datasetVersionNumber=1'

# Downloading the file by sending the request to the URL
req = requests.get(url)
 
# Split URL to get the file name
filename = "zomato.csv"
 
# Writing the file to the local file system
with open(filename,'wb') as output_file:
    output_file.write(req.content)
print('Downloading Completed')

Downloading started
Downloading Completed

In [27]:
from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

In [31]:
api.dataset_download_file('himanshupoddar/zomato-bangalore-restaurants',file_name='zomato.csv')

In [4]:
import os
import re
from Restaurant.util.util import read_yaml_file
ziip = read_yaml_file(r"D:\Restaurant_Rating_Prediction\config\config.yaml")
ob = ziip['data_ingestion_config']
obj = ob['dataset_info']
zipfile = os.path.basename()+".zip"
zipfile

'zomato-bangalore-restaurants.zip'

In [9]:
file =os.listdir(r"D:\Restaurant_Rating_Prediction\Restaurant\artifact\data_ingestion\2022-13-27-16-13-07\raw_data")
file[0]

'zomato.csv'

In [9]:
from  Restaurant.util.util import *
import pandas as pd
from Restaurant.constants import SCHEMA_FILE_PATH
import yaml

In [29]:
schema_file_path = r"D:\Restaurant_Rating_Prediction\config\schema.yaml"

def read_yaml(file_path):
    try:
        with open(file_path,'rb') as yaml_file:
            return yaml.safe_load(yaml_file)
    except Exception as e:
        print(str(e))

In [42]:
schema_file_info['columns']

{'url': 'object',
 'address': 'object',
 'name': 'object',
 'online_order': 'object',
 'book_table': 'object',
 'rate': 'float64',
 'votes': 'int64',
 'phone': 'object',
 'location': 'object',
 'rest_type': 'object',
 'dish_liked': 'object',
 'cuisines': 'object',
 'approx_cost(for two people)': 'object',
 'reviews_list': 'object',
 'menu_item': 'object',
 'listed_in(type)': 'object',
 'listed_in(city)': 'object'}

In [30]:
schema_file_info = read_yaml(file_path=schema_file_path)

In [121]:
test_df = pd.read_csv(r'D:\Restaurant_Rating_Prediction\Restaurant\artifact\data_ingestion\2022-35-27-16-35-39\ingested_data\test\zomato.csv')

In [75]:
len(test_df.columns)

17

In [76]:
test_df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/kshera-sagar-...,"Kormangala Police Station, Near Shiva Trader, ...",Kshera Sagar,No,No,3.9,0,+91 9535120269,Koramangala 1st Block,Quick Bites,NaN,"North Indian, Chinese",200,"[('Rated 5.0', 'RATED\n Super good very beaut...",[],Dine-out,Koramangala 5th Block
1,https://www.zomato.com/bangalore/melt-eden-par...,"Eden Park7, 8 Doresani Palya, Near Kalyani Mag...",Melt - Eden Park,Yes,Yes,4.0,347,+91 9606487102,JP Nagar,Casual Dining,"Tandoori Chicken, Biryani, Paneer Tikka, Chick...","North Indian, Chinese, Thai, Mughlai, Seafood","1,000","[('Rated 3.0', 'RATED\n Want to give it 3.5.\...",[],Buffet,JP Nagar
2,https://www.zomato.com/bangalore/karavali-gard...,"1, 33rd Main Road, 6th Phase, JP Nagar, Bangalore",Sea Horse,No,No,3.4,9,+91 7349443688\r\n080 411103999,JP Nagar,Casual Dining,NaN,"South Indian, Chinese",400,"[('Rated 3.0', ""RATED\n Tried Porotta, Mathi ...",[],Delivery,Bannerghatta Road
3,https://www.zomato.com/bangalore/cakezone-vart...,"710, Thubarahalli, Varthur Main Road, Whitefie...",CakeZone,Yes,No,3.9,33,080 43334321,"Varthur Main Road, Whitefield","Takeaway, Delivery",NaN,"Bakery, Desserts",200,"[('Rated 5.0', ""RATED\n They have very nice v...","['Chocolate Truffle Cake (500 Grams)', 'Black ...",Delivery,Whitefield
4,https://www.zomato.com/bangalore/shri-vishnu-g...,"18, Prakruthi Enclave, Panathur Road, Kadubees...",Shri Vishnu Grand,Yes,No,3.1,142,080 42013256\n+91 8884565894,Marathahalli,Casual Dining,"Rava Idli, Tea, Coffee, Rava Dosa, Biryani, Ma...","North Indian, South Indian, Chinese",450,"[('Rated 4.0', 'RATED\n Nice and clean place,...",[],Delivery,Sarjapur Road

In [40]:
len(schema_file_info['columns'])

17

In [41]:
result = True
if len(schema_file_info['columns'])==len(test_df.columns):
     print(result)
else:
    print(result=False)

True

In [192]:
#delete columns


columns = ['url','address','phone','reviews_list','menu_item']
for column in test_df.columns:
    if column in columns:
        test_df.drop(columns=column,axis=1,inplace=True)

In [88]:
a =2==2

In [96]:
b = 2==3

In [97]:
c =a and b

In [98]:
result = None

if not c:
    result = c
    print(result)
else:
    result = c
    print(result)

False

In [104]:
schema_columns_info = schema_file_info['columns']
schema_columns_info

{'url': 'object',
 'address': 'object',
 'name': 'object',
 'online_order': 'object',
 'book_table': 'object',
 'rate': 'float64',
 'votes': 'int64',
 'phone': 'object',
 'location': 'object',
 'rest_type': 'object',
 'dish_liked': 'object',
 'cuisines': 'object',
 'approx_cost(for two people)': 'object',
 'reviews_list': 'object',
 'menu_item': 'object',
 'listed_in(type)': 'object',
 'listed_in(city)': 'object'}

In [133]:
def columns_check(df:pd.DataFrame,schema_columns_info):
    try:
        for key in schema_columns_info.keys():
            if df.dtypes[key] != schema_columns_info[key]:
                return False
        else:
            return True
    except Exception as e:
        print(str(e),"key error")

In [134]:
columns_check(test_df,schema_columns_info=schema_columns_info)

'url' key error

In [188]:
train_df = pd.read_csv(r"D:\Restaurant_Rating_Prediction\Restaurant\artifact\data_ingestion\2022-35-27-16-35-39\ingested_data\train\zomato.csv")

In [206]:
test_df = pd.read_csv(r"D:\Restaurant_Rating_Prediction\Restaurant\artifact\data_ingestion\2022-35-27-16-35-39\ingested_data\test\zomato.csv")

In [158]:
try:
    dtype_validation = None
    for key in schema_columns_info.keys():
        if train_df.dtypes[key] != schema_columns_info[key]:
            dtype_validation = False
            #logging.info(f"Validation of train_df:{dtype_validation}")
            print(dtype_validation)
        if test_df.dtypes[key] != schema_columns_info[key]:
            dtype_validation = False
            #logging.info(f"Validation of test_df:{dtype_validation}")
            print(dtype_validation)
        else:
            dtype_validation = True
            #logging.info(f"Validation of test and train:{dtype_validation}")
    print(dtype_validation)
except Exception as e:
    print(str(e))

True

In [209]:
try:
    validation = True
    if len(schema_columns_info.keys()) == len(test_df.columns):
        i = 0
        for key in schema_columns_info.keys():

            if test_df.dtypes.index[i] != key:
                print("columns name not found")
            i+=1
        print(validation)
    else:
        print(validation)
except Exception as e:
    print(str(e))

True

In [202]:
len(test_df.columns)

12

In [200]:
len(schema_columns_info.keys())

17

In [213]:
from cgi import test
from re import I
import numpy as np

Q1,Q3 = np.percentile(test_df['approx_cost(for two people)'],[25,75])

print(Q1,Q3)

TypeError: '<' not supported between instances of 'str' and 'float'

In [214]:
test_df['approx_cost(for two people)'].unique()

array(['200', '1,000', '400', '450', '900', '150', '300', '800', '750',
       '250', '600', '500', '1,700', '120', '1,300', '350', '100', '700',
       '550', '3,000', '650', '2,000', '1,200', '1,500', '1,400', '1,100',
       '3,400', '130', '230', nan, '1,600', '1,800', '2,800', '1,900',
       '180', '850', '1,450', '950', '2,500', '2,100', '2,300', '1,350',
       '2,200', '40', '4,000', '80', '4,100', '330', '3,500', '50',
       '2,600', '70', '2,400', '1,250', '1,650', '360'], dtype=object)

In [83]:
import pandas as pd

test_df = pd.read_csv(r"D:\Restaurant_Rating_Prediction\Restaurant\artifact\data_ingestion\2022-24-28-17-24-02\ingested_data\test\zomato.csv")

In [129]:
train_df = pd.read_csv(r"D:\Restaurant_Rating_Prediction\Restaurant\artifact\data_ingestion\2022-24-28-17-24-02\ingested_data\train\zomato.csv")

In [85]:

columns = ['url','address','phone','reviews_list','menu_item']
for column in test_df.columns:
    if column in columns:
        test_df.drop(columns=column,axis=1,inplace=True)

In [10]:
test_df.columns

Index(['name', 'online_order', 'book_table', 'rate', 'votes', 'location',
       'rest_type', 'dish_liked', 'cuisines', 'approx_cost(for two people)',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [87]:
test_df['approx_cost(for two people)'] = test_df['approx_cost(for two people)'].str.replace(",","")

In [43]:
test_df['approx_cost(for two people)'].unique()

array(['200', '1000', '400', '450', '900', '150', '300', '800', '750',
       '250', '600', '500', '1700', '120', '1300', '350', '100', '700',
       '550', '3000', '650', '2000', '1200', '1500', '1400', '1100',
       '3400', '130', '230', nan, '1600', '1800', '2800', '1900', '180',
       '850', '1450', '950', '2500', '2100', '2300', '1350', '2200', '40',
       '4000', '80', '4100', '330', '3500', '50', '2600', '70', '2400',
       '1250', '1650', '360'], dtype=object)

In [44]:
test_df['approx_cost(for two people)'].astype(float)

0         200.0
1        1000.0
2         400.0
3         200.0
4         450.0
          ...
10339     450.0
10340     150.0
10341     400.0
10342     150.0
10343     800.0
Name: approx_cost(for two people), Length: 10344, dtype: float64

In [89]:
test_df['approx_cost(for two people)'] = pd.to_numeric(test_df['approx_cost(for two people)'])

In [99]:
test_df.head(2)

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type),listed_in(city),Rating
0,Kshera Sagar,No,No,3.9,0,Koramangala 1st Block,Quick Bites,NaN,"North Indian, Chinese",200.0,Dine-out,Koramangala 5th Block,3.9
1,Melt - Eden Park,Yes,Yes,4.0,347,JP Nagar,Casual Dining,"Tandoori Chicken, Biryani, Paneer Tikka, Chick...","North Indian, Chinese, Thai, Mughlai, Seafood",1000.0,Buffet,JP Nagar,4.0

In [94]:
test_df['Rating'] = test_df['rate']

In [98]:
test_df.drop('rate',axis=1).head(1)

,name,online_order,book_table,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type),listed_in(city),Rating
0,Kshera Sagar,No,No,0,Koramangala 1st Block,Quick Bites,NaN,"North Indian, Chinese",200.0,Dine-out,Koramangala 5th Block,3.9

In [128]:
from Restaurant.exception import RestaurantException
import os,sys

def columns_removal(columns:list,df:pd.DataFrame):
        try:
            for column in df.columns:
                if column in columns:
                    df.drop(columns=column,axis=1,inplace=True)
            else:
                return df
        except Exception as e:
            raise RestaurantException(e,sys) from e

In [130]:
train_df = columns_removal(columns=['url','address','phone','reviews_list','menu_item'],df=train_df)

In [140]:
train_df.dtypes.index[0]

'name'

In [138]:
test_df.columns

Index(['name', 'online_order', 'book_table', 'rate', 'votes', 'location',
       'rest_type', 'dish_liked', 'cuisines', 'approx_cost(for two people)',
       'listed_in(type)', 'listed_in(city)', 'Rating'],
      dtype='object')

In [141]:
df = pd.read_csv(r'D:\Restaurant_Rating_Prediction\Restaurant\artifact\data_ingestion\2022-24-28-17-24-02\raw_data\zomato.csv')

In [142]:
df.shape

(51717, 17)

In [143]:
train_df.shape

(41373, 12)

In [146]:
from Restaurant.util.util import read_yaml_file

schema_file_path = r"D:\Restaurant_Rating_Prediction\config\schema.yaml"
schema_file_content = read_yaml_file(file_path=schema_file_path)
schema_columns_info = schema_file_content['columns']
len(schema_columns_info)

13