In [1]:
import pandas as pd

In [137]:
test_df =pd.read_csv(r"D:\Restaurant_Rating_Prediction\Restaurant\artifact\data_ingestion\2022-08-29-14-49-00\ingested_data\test\zomato.csv")

In [5]:
test_df.head(3)

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,Kshera Sagar,No,No,3.9,0,Koramangala 1st Block,Quick Bites,NaN,"North Indian, Chinese",200,Dine-out,Koramangala 5th Block
1,Melt - Eden Park,Yes,Yes,4.0,347,JP Nagar,Casual Dining,"Tandoori Chicken, Biryani, Paneer Tikka, Chick...","North Indian, Chinese, Thai, Mughlai, Seafood","1,000",Buffet,JP Nagar
2,Sea Horse,No,No,3.4,9,JP Nagar,Casual Dining,NaN,"South Indian, Chinese",400,Delivery,Bannerghatta Road

In [10]:
count = test_df['location'].value_counts(ascending=False)

In [13]:
count_lessthan_300 = count[count<300]
count_lessthan_300

Koramangala 1st Block    257
Electronic City          243
Brigade Road             242
Bellandur                240
Koramangala 7th Block    230
                        ...
Kengeri                    3
Langford Town              3
Yelahanka                  2
Uttarahalli                2
Nagarbhavi                 1
Name: location, Length: 79, dtype: int64

In [119]:


def handle(value):
    try:
        if value in count_lessthan_300 :
            return 'others'
        else:
            return value
    except Exception as e:
        print(str(e))

In [124]:
test_df['location'] = test_df['location'].apply(handle)

In [126]:
test_df['location'].unique()

array(['others', 'JP Nagar', 'Marathahalli', 'Bannerghatta Road', 'BTM',
       'HSR', 'Koramangala 5th Block', 'Jayanagar', 'Whitefield',
       'Indiranagar', nan], dtype=object)

In [146]:
from sqlite3 import DatabaseError


def handle(df:pd.DataFrame,threshold):
    try:
        count = df.value_counts()
        count_lesthan_threshold = count[count<threshold]
        for value in df:
            if value in count_lesthan_threshold:
                value = 'others'
            else:
                value = value
        return df
    except Exception as e:
        print(str(e))

In [149]:
test_df['location'] = handle(test_df['location'],300)

In [151]:
test_df['location'].unique()

array(['Koramangala 1st Block', 'JP Nagar',
       'Varthur Main Road, Whitefield', 'Marathahalli',
       'Bannerghatta Road', 'Sarjapur Road', 'BTM', 'Residency Road',
       'Malleshwaram', 'HSR', 'Ulsoor', 'Banashankari',
       'Koramangala 5th Block', 'Brigade Road', 'Ejipura',
       'Sahakara Nagar', 'Domlur', 'Jayanagar', 'Brookefield',
       'Jalahalli', 'Infantry Road', 'MG Road', 'Kammanahalli',
       'Whitefield', 'Bellandur', 'Basavanagudi', 'St. Marks Road',
       'HBR Layout', 'Koramangala 6th Block', 'Frazer Town',
       'Koramangala 4th Block', 'Electronic City',
       'Koramangala 2nd Block', 'Indiranagar', 'Kumaraswamy Layout',
       'Banaswadi', 'Rajajinagar', 'Shanti Nagar', 'Kalyan Nagar',
       'Koramangala 7th Block', 'Shivajinagar', 'Commercial Street',
       'Church Street', 'Basaveshwara Nagar', 'Lavelle Road',
       'Wilson Garden', 'Cunningham Road', 'Koramangala 3rd Block',
       'Vijay Nagar', 'City Market', 'Hosur Road', 'Seshadripuram',
       'Richmond Road', 'Nagawara', 'Race Course Road', 'KR Puram',
       'Old Airport Road', 'New BEL Road', 'Bommanahalli',
       'Koramangala 8th Block', 'Jeevan Bhima Nagar', 'East Bangalore',
       'Koramangala', 'Kaggadasapura', 'Hennur', 'Thippasandra',
       'Yeshwantpur', 'RT Nagar', 'Vasanth Nagar', nan, 'Majestic',
       'South Bangalore', 'Sadashiv Nagar', 'CV Raman Nagar',
       'Sankey Road', 'Magadi Road', 'North Bangalore',
       'ITPL Main Road, Whitefield', 'Sanjay Nagar', 'Langford Town',
       'Hebbal', 'Yelahanka', 'Old Madras Road', 'Kanakapura Road',
       'Uttarahalli', 'Kengeri', 'Nagarbhavi', 'Mysore Road',
       'Rammurthy Nagar'], dtype=object)

In [138]:
test_df['rest_type'].value_counts()

Quick Bites                   3840
Casual Dining                 2017
Cafe                           729
Delivery                       515
Dessert Parlor                 472
                              ...
Food Court, Beverage Shop        1
Bar, Quick Bites                 1
Quick Bites, Mess                1
Dessert Parlor, Sweet Shop       1
Lounge, Cafe                     1
Name: rest_type, Length: 85, dtype: int64

In [162]:
from Restaurant.util.util import handlecomma
test_df['approx_cost(for two people)'] = test_df['approx_cost(for two people)'].str.replace(",","")

In [164]:
from cgi import test


test_df['approx_cost(for two people)'] = pd.to_numeric(test_df['approx_cost(for two people)'])

In [172]:
test_df.columns

Index(['name', 'online_order', 'book_table', 'rate', 'votes', 'location',
       'rest_type', 'dish_liked', 'cuisines', 'approx_cost(for two people)',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [173]:
test_df.head()

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,Kshera Sagar,No,No,3.9,0,Koramangala 1st Block,Quick Bites,NaN,"North Indian, Chinese",200.0,Dine-out,Koramangala 5th Block
1,Melt - Eden Park,Yes,Yes,4.0,347,JP Nagar,Casual Dining,"Tandoori Chicken, Biryani, Paneer Tikka, Chick...","North Indian, Chinese, Thai, Mughlai, Seafood",1000.0,Buffet,JP Nagar
2,Sea Horse,No,No,3.4,9,JP Nagar,Casual Dining,NaN,"South Indian, Chinese",400.0,Delivery,Bannerghatta Road
3,CakeZone,Yes,No,3.9,33,"Varthur Main Road, Whitefield","Takeaway, Delivery",NaN,"Bakery, Desserts",200.0,Delivery,Whitefield
4,Shri Vishnu Grand,Yes,No,3.1,142,Marathahalli,Casual Dining,"Rava Idli, Tea, Coffee, Rava Dosa, Biryani, Ma...","North Indian, South Indian, Chinese",450.0,Delivery,Sarjapur Road

In [178]:
def handle(value):
    try:
        if value in count_lessthan_300 :
            return 'others'
        else:
            return value
    except Exception as e:
        print(str(e))

In [179]:
test_df['rest_type'] = test_df['rest_type'].apply(handle)

In [180]:
len(test_df['rest_type'].unique())

86